@import url('https://fonts.googleapis.com/css2?family=Anta&family=Roboto+Slab:wght@100..900&display=swap');
*{
    font-family: "Roboto Condensed", sans-serif;
    background-color: black;
    color: aliceblue;
}
body{  width: 100%;
    box-sizing: border-box;
}
nav{
    display: flex;
    padding-left: 10px;
    padding-top: 20px ; 
    padding-right: 10px;
    padding-bottom: 10px; 
    margin: 10px;
    border: 2px solid rgb(110, 0, 0);
    justify-content: space-between;
}
strong{
    color: red;
}
.Nadpis{
    position: relative;
    bottom: 10px;
    right: 150px;
}
.logo{
    position: relative;
    top: 10px;
    text-align: center;
}
a{ text-decoration: none;
}
main{
    display: block;
   }
   .M{
       position: relative;
       bottom: 20px;
       text-align: center;
       display: inline-block;
   }
   .typ{
   text-align: center;
   padding: 10px;
   margin: 10px;
   border: 2px solid rgb(110, 0, 0);
   }
   footer{
       display: flex;
       border: 2px solid rgb(110, 0, 0);
       margin: 10px;
      padding: 10px;
      justify-content: space-between;
   }
   .DOTAZNÍK{
       display: flex;
   
   }
   .Odeslat{
       padding-left: 10px;
   }
   
   .info{
       position: relative;
    
   padding-top: 10px;
   }
   @media only screen and (max-device-width: 640px) {  
    nav{ 
    display: block; 
     box-direction: column;
}
.logo{
    visibility: hidden;
}
.Nadpis{
    position: relative;
left: 2px;
bottom: 25px;
}
footer{
    display: block;
flex-direction: column;
}
}